/* SCSS HEX */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");
.d-flex {
  display: flex;
}

.jsFE {
  justify-self: flex-end;
}

.fdRow {
  flex-direction: row;
}

.fdCol {
  flex-direction: column;
}

.input-error {
  border: 2px solid red;
}

.helper {
  display: none;
}

.helper-error {
  display: block;
  font-size: 0.75rem;
  color: red;
}

.aiC {
  align-items: center;
}

.aiE {
  align-items: end;
}

.aiFE {
  align-items: flex-end;
}

.aiS {
  align-items: start;
}

.aiFS {
  align-items: flex-start;
}

.m-0 {
  margin: 0rem;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.m-9 {
  margin: 2.25rem;
}

.m-10 {
  margin: 2.5rem;
}

.m-11 {
  margin: 2.75rem;
}

.m-12 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.ml-0 {
  margin-left: 0rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-9 {
  margin-left: 2.25rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-11 {
  margin-left: 2.75rem;
}

.ml-12 {
  margin-left: 3rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-9 {
  margin-right: 2.25rem;
}

.mr-10 {
  margin-right: 2.5rem;
}

.mr-11 {
  margin-right: 2.75rem;
}

.mr-12 {
  margin-right: 3rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.p-9 {
  padding: 2.25rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-11 {
  padding: 2.75rem;
}

.p-12 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-9 {
  padding-top: 2.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-9 {
  padding-bottom: 2.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-11 {
  padding-bottom: 2.75rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-8 {
  padding-left: 2rem;
}

.pl-9 {
  padding-left: 2.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-11 {
  padding-left: 2.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pr-9 {
  padding-right: 2.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-12 {
  padding-right: 3rem;
}

.jcC {
  justify-content: center;
}

.jcL {
  justify-content: left;
}

.jcSA {
  justify-content: space-around;
}

.jcSB {
  justify-content: space-between;
}

.jcFE {
  justify-content: flex-end;
}

.taC {
  text-align: center;
}

.taL {
  text-align: left;
}

.taR {
  text-align: right;
}

@media (min-width: 0) {
  .col {
    grid-column: span 12;
  }
}
@media (min-width: 576px) {
  .col {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .col {
    grid-column: span 4;
  }
}
@media (min-width: 992px) {
  .col {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .col {
    grid-column: span 3;
  }
}
@media (min-width: 1400px) {
  .col {
    grid-column: span 3;
  }
}
@font-face {
  font-family: "Starshines";
  src: url("base/Starshines.otf");
}
@font-face {
  font-family: "Starshines";
  src: url("base/Starshines.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 11rem;
  background: linear-gradient(180deg, #fac634 55%, white);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
}
@media (min-width: 0) {
  .container {
    max-width: 360px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 520px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 880px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

header {
  display: block;
  width: 100%;
  height: 10rem;
  position: fixed;
  padding-top: 0.8rem;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  background-color: #fac634;
}

h1 {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
}

.grid_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem; /* espacio entre columnas */
  row-gap: 0rem; /* espacio entre filas */
  grid-auto-rows: minmax();
}
@media screen and (min-width: 768px) {
  .grid_header_img_container {
    text-align: right;
  }
}
.grid_header img {
  width: 200px;
}
@media (max-width: 768px) {
  .grid_header {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid_header .nav {
    display: none;
  }
  .grid_header h1 {
    display: none;
  }
  .grid_header .navbar__menu-button {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../img/icons/bars.svg");
    height: 35px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem; /* espacio entre columnas */
  row-gap: 1rem; /* espacio entre filas */
  grid-auto-rows: minmax();
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.sidebar__menu {
  background-color: #fac634;
  background: linear-gradient(0deg, rgb(42, 123, 155) 0%, rgb(87, 199, 133) 39%, #fac634 100%);
  top: 9.5rem;
  overflow: scroll;
  display: block;
  height: auto;
  left: 0;
  position: fixed;
  visibility: hidden;
  display: none;
  z-index: 1;
  width: 100vw;
  flex-direction: column;
}
.sidebar__menu .sidebar__list {
  padding-inline-start: 0;
}
.sidebar__menu .sidebar__list .sidebar__item {
  list-style-type: none;
  cursor: pointer;
}
.sidebar__menu .sidebar__list .sidebar__item .sidebar__card {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  justify-content: space-between;
}
.sidebar__menu .sidebar__list .sidebar__item .sidebar__card:hover {
  box-shadow: 0px 3px 3px 3px rgba(150, 150, 0, 0.5);
}
.sidebar__menu .sidebar__list .sidebar__item .sidebar__card .sidebar__card-img {
  width: 9rem;
  padding: 0.5rem;
  border-radius: 2rem;
}
.sidebar__menu .sidebar__list .sidebar__item .sidebar__card p {
  text-wrap: wrap;
}

@media screen and (min-width: 768px) {
  #category-menu {
    visibility: hidden;
    display: none;
  }
}
h1 {
  display: flex;
  font-family: "Starshines";
  color: #801880;
  text-shadow: 3px 3px 0 #221152, -3px 3px 0 #221152, -3px -3px 0 #221152, 3px -3px 0 #221152;
}
@media (min-width: 0) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 4rem;
  }
}

footer {
  padding: 1rem;
  color: #7d95c6;
  font-size: 0.8rem;
}
footer ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer ul li {
  list-style: none;
  cursor: pointer;
  padding-left: 5rem;
  display: inline-block;
  position: relative;
  line-height: 1;
}
@media screen and (max-width: 576px) {
  footer ul {
    flex-direction: column;
    padding-left: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1rem;
  align-items: center;
  border-radius: 0.5rem;
}
.form input, .form textarea, .form select {
  margin: 0.2rem auto;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem; /*1rem 16px*/
  border: 1px solid grey;
  background-color: #7d95c6;
  background-color: #33bddd;
  color: white;
  width: 80%;
}
.form input :active, .form textarea :active, .form select :active {
  border: 2px solid #33bddd;
}
.form label {
  font-family: "Roboto Flex", Arial;
  width: 80%;
}
.form textarea {
  height: 5rem;
  resize: none;
}
.form .btn__submit {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 5rem;
  align-self: center;
  cursor: pointer;
}
.form .btn__submit :hover {
  background-color: #fac634;
}

.card {
  display: flex;
  flex-direction: column;
  width: 210px;
  min-height: 420px;
  border-radius: 1rem 0 1rem 0;
  font-size: 0.9rem;
  overflow: hidden;
  background-color: #f7d3f7;
  cursor: pointer;
}
.card .card__body {
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.card .card__img {
  border-radius: 1rem 0;
  width: 210px;
  align-self: center;
  overflow: scroll;
}
.card .card__title {
  margin: 0.2rem;
}
.card .precio {
  font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
  justify-self: center;
}
.card .precio::before {
  content: "$ ";
}
.card:hover {
  box-shadow: 0px 3px 3px 3px rgba(150, 150, 0, 0.5);
}

/*
.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: $superlight-primary-color;
    border: 2px solid $strong-primary-color;
    min-height: 400px;
    img {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}*/
.nav {
  background: #fac634;
  background: linear-gradient(180deg, #fac634 100%, rgb(87, 199, 133) 59%, rgb(42, 123, 155) 0%);
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.nav ul .nav__item_search {
  display: inline;
  width: 10rem;
  align-items: start;
}
.nav ul .nav__item_search input {
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  height: 1.6rem;
}
.nav ul .nav__item {
  display: inline;
  width: 10rem;
  align-items: start;
}
.nav ul .nav__item::before {
  display: flex;
  content: url("../img/nave_sm.png");
  height: 0.1rem;
}
.nav ul .nav__item .nav__list-link {
  text-decoration: none;
  font-variant: small-caps;
  color: #551055;
  font-weight: 800;
  font-size: 0.8rem;
  border-radius: 10px 10px;
}

@media screen and (min-width: 576px) {
  .navbar__menu-button {
    display: none;
  }
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn__primary {
  /* creo una clase btn-primary*/
  background-color: white;
}
.btn__primary:hover {
  cursor: pointer;
  background-color: #7d95c6;
}
.btn__outline, .form .btn__submit {
  /* creo una clase btn-primary*/
  color: #3e4345;
  background-color: transparent;
  font-variant: small-caps;
  border: 2px solid #551055;
}
.btn__outline:hover, .form .btn__submit:hover {
  cursor: pointer;
  background-color: #551055;
  color: white;
}

.form__container .formAlta {
  align-items: center;
}
.form__container .formAlta #fEdad {
  margin: 1rem 0 0 0;
  width: 100%;
  display: flex;
  border: none;
}

legend {
  text-align: left;
  font-variant: small-caps;
}

.form-group {
  display: inline-flex;
  width: 100%;
}

.imgPreview__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
.imgPreview__container p {
  display: inline;
  width: 100%;
}

.imgPreview {
  display: flex;
  border: 1px solid grey;
  width: 210px;
  height: 210px;
  padding: 0.3rem;
  border-radius: 1rem;
}

.nosotros_container {
  margin-top: 2rem;
  width: 50vw;
  background-color: #fac634;
  padding: 2rem;
  border: 1px dotted #cd0b30;
  border-radius: 1rem;
}
.nosotros_container h2 {
  margin: 0 auto;
  font-family: "Roboto Flex";
  text-align: center;
  font-size: 3.5rem;
  color: #551055;
}
.nosotros_container p {
  font-family: "Roboto Flex";
  color: #551055;
  font-weight: 700;
}

.formContacto {
  text-align: left;
  justify-self: center;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .formContacto {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */