@import "utils/variables";
@import "utils/helpers";
@import "utils/mixins";

@import "base/fonts";
@import "base/reset";

@import "layout/body";
@import "layout/grid";
@import "layout/sidebar";
@import "layout/header";
@import "layout/footer";
@import "layout/form";


@import "components/cards";
@import "components/navbar";
@import "components/button";


@import "pages/altas";
@import "pages/nosotros";
@import "pages/contacto";