
.form__container
{
    margin-bottom: 20vh;
    .formAlta
    {
        align-items: center;
        //margin-top: 2rem;
        //padding: 2rem;
        #fEdad{
            margin: 1rem 0 0 0;
            width: 100%;
            display: flex;
            border: none;
        }
    }    
}

legend {
    text-align: left;
    font-variant: small-caps;
}
.form-group{
    display: inline-flex;
    width: 100%;
}

.imgPreview__container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;

    p{
        display:inline;
        width: 100%;
    }

    
}
.imgPreview{
    
    display: flex;
    border: 1px solid grey;
    width: $cardWidth;
    height: $cardWidth; // cuadrada
    padding: 0.3rem;
    border-radius: 1rem;
    
}
