footer{
    padding: 1rem;
    //margin-top: rem;
    color: $color2;
    font-size: .8rem;    
    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content:space-around;

        //gap: 1rem;
        li {
            list-style: none;
            cursor: pointer;
            padding-left: 5rem;
            display: inline-block;
            position: relative;
            line-height: 1;
        }
        @media screen and (max-width: map-get($grid-breakpoints, sm)){ 
            flex-direction: column;
            padding-left: 0;
        }

    }
    
}

