.grid_header {
    display: grid;
    
    grid-template-columns: repeat($grid-columns-header, 1fr);
    column-gap: 1rem; /* espacio entre columnas */
    row-gap: 0rem; /* espacio entre filas */
    grid-auto-rows: minmax(); 

        @media  screen and (min-width: map-get($grid-breakpoints, md)) {
            &_img_container{
    
            text-align: right;
                }
            }
    
    img{
            width: 200px;

    }
    @media (max-width: map-get($grid-breakpoints, md)) {
        
        grid-template-columns: repeat(1, 1fr);
        .nav {
            display: none;
        }
        h1 {
            display: none;
        }
        .navbar__menu-button{
            position: fixed;
            top:0;
            left:0;
            background-image: url("../img/icons/bars.svg");
            //background-size: 20px;
            height: 35px;
        }

	}
}

.grid {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    column-gap: 1rem; /* espacio entre columnas */
    row-gap: 1rem; /* espacio entre filas */
    grid-auto-rows: minmax(); 
  //  border: 1px solid black;

}


@for $i from 1 through $grid-columns-header  {
    .col-#{$i} {
        grid-column: span #{$i};
       // border: 1px solid orange;
    }
}

