.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    &__primary {
        /* creo una clase btn-primary*/
        background-color: lighten($color: $secondary-color, $amount: 75);
        &:hover{
            cursor: pointer;
            background-color: $secondary-color;
        }
    }
    &__outline {
        /* creo una clase btn-primary*/
        
        color: $black;
        background-color: transparent;
        font-variant: small-caps;
        border: 2px solid $color7;
        
        &:hover{
            cursor: pointer;
            background-color: $color7;
            color: $white;
        }
    }
}

.navbar__menu-button{
    position: fixed;
    top:0;
    right:0;
 //   background-image: url("../img/icons/bars.svg");
    //background-size: 20px;
    height: 35px;
}

// oculto boton para medios mas grandes
.navbar__menu-button {
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        display: none;
    }
}
/*
.navbar-list-button{
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        display: none;
    }
}
*/