@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

@font-face {
    font-family: "Starshines" ;
    src: url("base/Starshines.otf");
}

@font-face {
    font-family: "Starshines" ;
    src: url("base/Starshines.ttf");
}
